@page "/"

<PageTitle>Home</PageTitle>

<h1>Card Game</h1>

Click the img to play!
<h1>

</h1>


<NavLink href="/GamePage" class="play-container">
    <img src="images/sword.png" alt="Play Game" />
    <span class="play-text">PLAY</span>
</NavLink>

